*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
    background-color: whitesmoke;
}

.title {
    padding: 30px;
    margin: 5px auto;
}

.recipe {
    padding: 15px;
}



